web/WEB-INF/wsdl/localhost_8080/GestionTaxi/Services.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://WebService/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://WebService/">

<xs:element name="Actualiser" type="tns:Actualiser"/>

<xs:element name="ActualiserResponse" type="tns:ActualiserResponse"/>

<xs:element name="Supprimer" type="tns:Supprimer"/>

<xs:element name="SupprimerResponse" type="tns:SupprimerResponse"/>

<xs:element name="ajouter" type="tns:ajouter"/>

<xs:element name="ajouterResponse" type="tns:ajouterResponse"/>

<xs:element name="liste" type="tns:liste"/>

<xs:element name="listeID" type="tns:listeID"/>

<xs:element name="listeIDResponse" type="tns:listeIDResponse"/>

<xs:element name="listeResponse" type="tns:listeResponse"/>

<xs:complexType name="Supprimer">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SupprimerResponse">
<xs:sequence>
<xs:element name="return" type="tns:taxi" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="taxi">
<xs:sequence>
<xs:element name="adresse" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="modeleVoiture" type="xs:string" minOccurs="0"/>
<xs:element name="numeroTaxi" type="xs:string" minOccurs="0"/>
<xs:element name="pays" type="xs:string" minOccurs="0"/>
<xs:element name="ville" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listeID">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listeIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:taxi" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="liste">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listeResponse">
<xs:sequence>
<xs:element name="return" type="tns:taxi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ajouter">
<xs:sequence>
<xs:element name="numeroTaxi" type="xs:string" minOccurs="0"/>
<xs:element name="modeleVoiture" type="xs:string" minOccurs="0"/>
<xs:element name="adresse" type="xs:string" minOccurs="0"/>
<xs:element name="ville" type="xs:string" minOccurs="0"/>
<xs:element name="pays" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ajouterResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Actualiser">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="numeroTaxi" type="xs:string" minOccurs="0"/>
<xs:element name="modeleVoiture" type="xs:string" minOccurs="0"/>
<xs:element name="adresse" type="xs:string" minOccurs="0"/>
<xs:element name="ville" type="xs:string" minOccurs="0"/>
<xs:element name="pays" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ActualiserResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>