src/conf/xml-resources/web-service-references/Services/wsdl/localhost_8080/GestionTaxi/Services.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WebService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WebService/" name="Services">
<types>
<xsd:schema>
<xsd:import namespace="http://WebService/" schemaLocation="http://localhost:8080/GestionTaxi/Services?xsd=1"/>
</xsd:schema>
</types>
<message name="listeID">
<part name="parameters" element="tns:listeID"/>
</message>
<message name="listeIDResponse">
<part name="parameters" element="tns:listeIDResponse"/>
</message>
<message name="liste">
<part name="parameters" element="tns:liste"/>
</message>
<message name="listeResponse">
<part name="parameters" element="tns:listeResponse"/>
</message>
<message name="ajouter">
<part name="parameters" element="tns:ajouter"/>
</message>
<message name="ajouterResponse">
<part name="parameters" element="tns:ajouterResponse"/>
</message>
<message name="Supprimer">
<part name="parameters" element="tns:Supprimer"/>
</message>
<message name="SupprimerResponse">
<part name="parameters" element="tns:SupprimerResponse"/>
</message>
<message name="Actualiser">
<part name="parameters" element="tns:Actualiser"/>
</message>
<message name="ActualiserResponse">
<part name="parameters" element="tns:ActualiserResponse"/>
</message>
<portType name="Services">
<operation name="listeID">
<input wsam:Action="http://WebService/Services/listeIDRequest" message="tns:listeID"/>
<output wsam:Action="http://WebService/Services/listeIDResponse" message="tns:listeIDResponse"/>
</operation>
<operation name="liste">
<input wsam:Action="http://WebService/Services/listeRequest" message="tns:liste"/>
<output wsam:Action="http://WebService/Services/listeResponse" message="tns:listeResponse"/>
</operation>
<operation name="ajouter">
<input wsam:Action="http://WebService/Services/ajouterRequest" message="tns:ajouter"/>
<output wsam:Action="http://WebService/Services/ajouterResponse" message="tns:ajouterResponse"/>
</operation>
<operation name="Supprimer">
<input wsam:Action="http://WebService/Services/SupprimerRequest" message="tns:Supprimer"/>
<output wsam:Action="http://WebService/Services/SupprimerResponse" message="tns:SupprimerResponse"/>
</operation>
<operation name="Actualiser">
<input wsam:Action="http://WebService/Services/ActualiserRequest" message="tns:Actualiser"/>
<output wsam:Action="http://WebService/Services/ActualiserResponse" message="tns:ActualiserResponse"/>
</operation>
</portType>
<binding name="ServicesPortBinding" type="tns:Services">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="listeID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="liste">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="ajouter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Supprimer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Actualiser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Services">
<port name="ServicesPort" binding="tns:ServicesPortBinding">
<soap:address location="http://localhost:8080/GestionTaxi/Services"/>
</port>
</service>
</definitions>